SECRET_KEY=
JWT_SIGNING_KEY=
DEBUG=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
REDIS_URI=
PAYAMRESAN_API_KEY=
PAYAMRESAN_SENDER=
PAYAMRESAN_API_URL=
SMS_CONNECT_TIMEOUT=
SMS_READ_TIMEOUT=
OTP_EXPIRATION_SECONDS=
OTP_REQUEST_LIMIT_24H=
PRIVATE_MEDIA_ROOT=
VIDEOPOL_API_URL=
VIDEOPOL_API_KEY=
VIDEOPOL_TIMEOUT_SECONDS=
APP_ORIGIN=
AI_PAYMENT_CALLBACK_URL=
AI_PAYMENT_RESULT_URL=
BFF_SHARED_SECRET=
CLIENT_IP_META_KEY=
TRUSTED_PROXY_COUNT=
