SECRET_KEY =
DEBUG =
ALLOWED_HOSTS =
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
REDIS_URL=
PAYAMRESAN_API_KEY="256209-d5f027bede884c2db00c001e22cdbd3d"
PAYAMRESAN_SENDER=5000407525
PAYAMRESAN_API_URL=https://api.sms-webservice.com/api/V3/SendBulk